body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100%;
    width: 100%;
    padding: 10px;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #ffdde1;
}

.btn1, .btn2 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    width: 100px;
    border: solid black 3px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.btn1 {
    background-color: #07a107;
}

.btn1:active {
    transform: scale(0.9); /* Плавное уменьшение при клике */
}

.btn1:hover {
    background-color: #09dc09;
}

.btn2 {
    background-color: #ba0909;
}

.btn2:active {
    transform: scale(0.9); 
}

.btn2:hover {
    background-color: #e01010;
}
img {
    border: solid black 3px;
    border-radius: 10px;
    width: 200px;
    height: 200px;
    transition: all 0.5s ease-in-out;
}
img:hover {
    height: 300px;
    width: 300px;
}
.img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}
.text{
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin-left: -5px;
}
.new-element {
            background-color: lightblue;
            padding: 20px;
            margin: 10px;
            border-radius: 10px;
            text-align: center;
            font-family: Arial, sans-serif;
            font-size: 18px;
}
@media (max-width: 700px) {
    h1 {
        font-size: 20px;
    }
    .btn1, .btn2 {
        font-size: 16px;
        padding: 10px;
    }
}
@media (max-width: 700px) {
    body {
        width: 100%; /* Растягивает на всю ширину экрана */
        padding: 10px; /* Добавляет отступы */
    }
}
h1 {
    color: rgb(161, 113, 207);
}
